name: CD

on:
  workflow_dispatch:

permissions: read-all

jobs:
  alpha_deploy:
    name: Publish Alpha Release to npm
    if: ${{ github.repository == 'sws2apps/react-sw-helper' && github.ref == 'refs/heads/alpha' }}
    environment:
      name: Alpha.env
    runs-on: ubuntu-latest

    steps:
      - name: Checkout for release preparation
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
        with:
          ref: alpha
          persist-credentials: false

      - name: Use Node.js current version
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c
        with:
          node-version: current

      - name: Install package dependencies
        run: npm ci

      - name: Run Semantic Release to version and publish the module
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  beta_deploy:
    name: Publish Beta Release to npm
    if: ${{ github.repository == 'sws2apps/react-sw-helper' && github.ref == 'refs/heads/beta' }}
    environment:
      name: Beta.env
    runs-on: ubuntu-latest

    steps:
      - name: Checkout for release preparation
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
        with:
          ref: beta
          persist-credentials: false

      - name: Use Node.js current version
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c
        with:
          node-version: current

      - name: Install package dependencies
        run: npm ci

      - name: Run Semantic Release to version and publish the module
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  prod_deploy:
    name: Publish Production Release to npm
    if: ${{ github.repository == 'sws2apps/react-sw-helper' && github.ref == 'refs/heads/main' }}
    environment:
      name: Prod.env
    runs-on: ubuntu-latest

    steps:
      - name: Checkout for release preparation
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
        with:
          ref: main
          persist-credentials: false

      - name: Use Node.js current version
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c
        with:
          node-version: current

      - name: Install package dependencies
        run: npm ci

      - name: Run Semantic Release to version and publish the module
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
